DATABASE_URL="postgresql://go_darslinker:CHANGE_ME@localhost:5432/go_darslinker_db"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME="godarslinkerbot"
TELEGRAM_WEBHOOK_SECRET=""
TELEGRAM_CHANNEL_ID=""
JWT_SECRET=""
